$color-white: #ffffff;
$color-black: #000000;
$color-bg: #3b3f45;
$color-bg-alt: #4a4f56;
$color-accent: #ff8984;
$color-violet-light: #9b96ac;
$color-violet: #88839e;
$color-violet-dark: #7a7593;
$color-violet-darkest: #625e77;
